# Yuri Santana Lopes - 222009750

## Importação de Bibliotecas e arquivos do drive

In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
file_id = "1JVJ54EkoqdUE2iq1raV2W3VxrJejDXj3"
url = f"https://drive.google.com/file/d/{file_id}/view"
download_url = f"https://drive.google.com/uc?export=download&id={file_id}"

students = pd.read_csv(download_url)

## Atividades Obrigatórias

### Etapa 1 - Visualização dos dados e colunas

In [3]:
students.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

Observando os dados dispostos neste dataset através do comando .head(), consigo perceber que de fato exsitem muitas colunas neste arquivo.
Como o objetivo do dataset é fazer uma relação do rendimento acadêmico com os hábitos do estudante, creio que o grande número de colunas presentes neste dataset seja com a intenção de conseguir diferentes perfis de estudantes e comparar os seus resultados. Essa ideia vem de que, ao coletar mais dados sobre os estudantes, é possível descobrir mais sobre o estilo de vida adotado por eles, de tal maneira que aumenta a possibilidade de tentar encontrar algum parâmetro que possa revelar a correlação entre alguns de seus hábitos com o rendimento acadêmico.
Logo, o grande número de dados presentes neste dataset foi uma maneira de tentar englobar os diferentes tipos de estudantes que podem existir em uma instituição acadêmica. Consquentemente, no final do projeto, os dados presentes aqui devem ser separados em muitos grupos diferentes por conta de que esse dataset fez por onde abranger diferentes tipos de estudantes.

In [4]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       909 non-null    object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

Adicionalmente, utilizei o método .info() para obter informações precisas sobre todas as colunas presentes neste dataset, logo acredito que através deste comando eu pude ter uma plena ideia sobre todas as colunas existentes neste dataset. Outra coisa a se observar como bonus, e que praticamente todas, com exceção do parental_education_level estão totalmente preenchidas de dados.

In [5]:
students.describe()

,age,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,exercise_frequency,mental_health_rating,exam_score
count,1000.0000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.4980,3.55010,2.505500,1.819700,84.131700,6.470100,3.042000,5.438000,69.601500
std,2.3081,1.46889,1.172422,1.075118,9.399246,1.226377,2.025423,2.847501,16.888564
min,17.0000,0.00000,0.000000,0.000000,56.000000,3.200000,0.000000,1.000000,18.400000
25%,18.7500,2.60000,1.700000,1.000000,78.000000,5.600000,1.000000,3.000000,58.475000
50%,20.0000,3.50000,2.500000,1.800000,84.400000,6.500000,3.000000,5.000000,70.500000
75%,23.0000,4.50000,3.300000,2.525000,91.025000,7.300000,5.000000,8.000000,81.325000
max,24.0000,8.30000,7.200000,5.400000,100.000000,10.000000,6.000000,10.000000,100.000000

Através do método .describe(), eu consegui ter uma visão das estatísticas distribuídas para cada uma das colunas, assim, pude observar a existência de valores médios, desvios, mínimos, máximos e etc para cada uma das colunas numéricas apresentadas.

### Etapa 2 - Análise por EDA

Para a análise EDA, vou buscar por contabilizar todos os valores nulos que existirem nas tabelas e verificar por possíveis outliers através dos gráficos.

In [3]:
students.isnull().sum()

student_id                        0
age                               0
gender                            0
study_hours_per_day               0
social_media_hours                0
netflix_hours                     0
part_time_job                     0
attendance_percentage             0
sleep_hours                       0
diet_quality                      0
exercise_frequency                0
parental_education_level         91
internet_quality                  0
mental_health_rating              0
extracurricular_participation     0
exam_score                        0
dtype: int64

In [ ]:
def outliersGraphs(dataframe):
    num_cols = len(dataframe.columns) - 1
    rows = 4
    cols = (num_cols + cols - 1)//cols
    numeric_cols = dataframe.select_dtypes(include=['int64','float64']).columns

### Etapa 3 - Hipótese da EDA

### Etapa 4 - Construção do algorítmo de K-Means

### Etapa 5 - Justificativa do valor adotado para K-Mean

### Etapa 6 - Revisão das hipóteses inciais

## Tarefas Extras -

### Resumo dos algorítmos DBSCAM e Hierarquical Clustering

### Algoritmo State-of-the-Art para Clustering